@model ServiceLayer.ViewModels.ProductVM

@{
    ViewData["Title"] = "Add";
}
<hr />
<div class="row">
    <div class="container">
        <form class="d-flex flex-column align-items-center" asp-action="Edit" asp-controller="Product" enctype="multipart/form-data">
            <partial name="_AddAndEdit" />
            <img
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>

        </form>


    </div>


    <div>
        <a asp-action="ShowAll">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>